@font-face {
  font-family: "iconfont"; /* Project id 2624672 */
  src: url('iconfont.woff2?t=1680768624857') format('woff2'),
       url('iconfont.woff?t=1680768624857') format('woff'),
       url('iconfont.ttf?t=1680768624857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangxiang:before {
  content: "\e602";
}

.icon-jiguangcejuyi:before {
  content: "\e71f";
}

.icon-shezhikongzhi:before {
  content: "\e6b7";
}

.icon-jiantou:before {
  content: "\e71e";
}

.icon-chenjiangzhi:before {
  content: "\e716";
}

.icon-bianpoliefeng:before {
  content: "\e717";
}

.icon-shuipingweiyi:before {
  content: "\e718";
}

.icon-turangshidu:before {
  content: "\e719";
}

.icon-yingbian:before {
  content: "\e71a";
}

.icon-bianpoliefengchuanganqi:before {
  content: "\e71b";
}

.icon-yingbianji:before {
  content: "\e71c";
}

.icon-turangshiduchuanganqi:before {
  content: "\e71d";
}

.icon-bianji:before {
  content: "\e712";
}

.icon-chakan:before {
  content: "\e713";
}

.icon-mima:before {
  content: "\e714";
}

.icon-shanchu:before {
  content: "\e715";
}

.icon-shidu:before {
  content: "\e70c";
}

.icon-fengxiang:before {
  content: "\e70d";
}

.icon-fengsu:before {
  content: "\e70e";
}

.icon-qiya:before {
  content: "\e70f";
}

.icon-jiangyuliang:before {
  content: "\e710";
}

.icon-wendu:before {
  content: "\e711";
}

.icon-you:before {
  content: "\e6ef";
}

.icon-yunhangzhuangtai:before {
  content: "\e70a";
}

.icon-jibenxinxi:before {
  content: "\e70b";
}

.icon-wujiaoxing:before {
  content: "\e709";
}

.icon-dingwei:before {
  content: "\e708";
}

.icon-quanping:before {
  content: "\e6b3";
}

.icon-tuichuquanping:before {
  content: "\e6b4";
}

.icon-gongdingjianceshuju:before {
  content: "\e6f9";
}

.icon-gaojingxiaoxi:before {
  content: "\e6fa";
}

.icon-shebeidianliang:before {
  content: "\e6fb";
}

.icon-qixiangxinxi:before {
  content: "\e6fc";
}

.icon-jinrishuju:before {
  content: "\e6fd";
}

.icon-qiaodunjianceshuju:before {
  content: "\e6fe";
}

.icon-beidoushebei:before {
  content: "\e6ff";
}

.icon-chakanshuju:before {
  content: "\e700";
}

.icon-jiancedian:before {
  content: "\e701";
}

.icon-quyuliebiao:before {
  content: "\e702";
}

.icon-shexiangtou:before {
  content: "\e703";
}

.icon-weidianzhan:before {
  content: "\e704";
}

.icon-weiqixiangzhan:before {
  content: "\e705";
}

.icon-MEMS:before {
  content: "\e706";
}

.icon-fanhui:before {
  content: "\e707";
}

